@using CuaHangDungCuYTe.Models;
@model List<Product>

@{
    ViewBag.Title = "Cửa hàng dụng cụ y tế";
    Layout = "~/Views/Shares/_LayoutUser.cshtml";
}

<!--Form thông tin đặt hàng-->
<div class="pay-box">
    <div class="pay-content">
        <h2>THÔNG TIN ĐẶT HÀNG <img src="~/Images/x.png" alt="x" class="pay-close"></h2>
        <form id="pay-info" action="@Url.Action("PayOrders", "User")" method="post" enctype="multipart/form-data">
            <p>Thông tin người đặt hàng:</p>
            <input type="hidden" name="email" id="info-email">
            <label for="info-name">Họ tên:</label>
            <input type="text" name="name" placeholder="Họ tên..." id="info-name">
            <label for="info-address">Địa chỉ:</label>
            <input type="text" name="address" placeholder="Địa chỉ..." id="info-address">
            <label for="info-numbers">Số điện thoại:</label><div class="loi" id="sdtMessage"></div>
            <input type="text" name="phone" placeholder="Số điện thoại..." id="info-numbers">

            <input type="submit" class="pay-btn" name="pay" value="Xác nhận">
        </form>
    </div>
</div>

<!-- Home -->
<section class="home" id="home">
    <div class="content">
        <h3>DỤNG CỤ Y TẾ</h3>
        <p>
            Chuyên cung cấp các dụng cụ y tế phục vụ cho các quầy thuốc
            và các bệnh viện trên toàn quốc.
        </p>
        <a href="#" class="btn">Mua ngay</a>
    </div>
</section>

<!-- About -->
<section class="about" id="about">
    <h1 class="heading"><span>about</span> us </h1>
    <div class="row">
        <div class="image">
            <img src="~/Images/logoytemt.png" alt="">
        </div>

        <div class="content">
            <p>
                MT Medical là trang web chuyên cung cấp các thiết bị, dụng cụ y tế với sứ mệnh đem tới những sản
                phẩm tốt nhất cả về chất lượng lẫn giá cả trong lĩnh vực dụng cụ y tế tế để quý khách an tâm sử dụng
                và chăm sóc bệnh nhân. MT Medical đang ngày nhận được sự tin tưởng của quý khách hàng và khẳng định
                được vị thế trên thị trường. Để có được thành công đó là nhờ vào đội ngũ cán bộ làm việc với tinh thần
                trách nhiệm cao, nhiệt tình, năng động và luôn sẵn sàng lắng nghe đồng thời tiếp thu ý kiến đóng góp từ
                khách hàng của mình nhằm mục đích phục vụ nhu cầu khách hàng một cách chuyên nghiệp nhất.
            </p>
            <p>
                Dụng vụ y tế MT Medical cung cấp các trang thiết bị y khoa, y tế cho các cá nhân đến các phòng khám và
                cả những bệnh viện lớn trên khắp cả nước. Tất cả các sản phẩm của MT Medical đều có giấy tờ xuất xứ rõ ràng,
                nhập khẩu chính hãng từ những thương hiệu lớn khắp nơi trên thế giới.
            </p>
            <a href="#" class="btn">Xem thêm</a>
        </div>
    </div>
</section>

<!-- Menu -->
<section class="menu" id="menu">
    <h1 class="heading"> our <span>products</span> </h1>
    <div class="box-container">
        @foreach (var item in Model)
        {
            <div class="box">
                <a href="@Url.Action("ProductsDetails", "User", new { id = item.ProductId})">
                    <div class="image">
                        <img src="~/Images/@item.ProductImage" alt="anh">
                    </div>
                    <h3>@item.ProductName</h3>
                    <div class="price">@item.Price</div>
                </a>
                <a href="javascript:void(0);" class="btn add-to-cart" data-product-id="@item.ProductId">add to cart</a>
            </div>
        }
    </div>
</section>

<!-- Products -->
@*<section class="products" id="products">
        <h1 class="heading"> our <span>products</span> </h1>
        <div class="box-container">
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="bangcuonyte.png" alt="">
                </div>
                <div class="content">
                    <h3>fresh coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$15.99 <span>$20.99</span></div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="bangdinh.jpg" alt="">
                </div>
                <div class="content">
                    <h3>fresh coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$15.99 <span>$20.99</span></div>
                </div>
            </div>

            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="khautrangyte.jpg" alt="">
                </div>
                <div class="content">
                    <h3>fresh coffee</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">$15.99 <span>$20.99</span></div>
                </div>
            </div>
        </div>
    </section>*@

<!-- Review -->
@*<section class="review" id="review">
    <h1 class="heading"> customer's <span>review</span> </h1>
    <div class="box-container">
        <div class="box">
            <img src="" alt="" class="quote">
            <p>gwfghjdjajb jhfjagwjasguy hsa hgduyt8qwg hgfyuwagagy hjgfaggayu gfduyaaw hwgfag gwfg gwfauguwqtuwqvuqfw</p>
            <img src="~/Images/ketoconazole.png" alt="" class="user">
            <h3>join deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="" alt="" class="quote">
            <p>gwfghjdjajb jhfjagwjasguy hsa hgduyt8qwg hgfyuwagagy hjgfaggayu gfduyaaw hwgfag gwfg gwfauguwqtuwqvuqfw</p>
            <img src="~/Images/ketoconazole.png" alt="" class="user">
            <h3>join deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="" alt="" class="quote">
            <p>gwfghjdjajb jhfjagwjasguy hsa hgduyt8qwg hgfyuwagagy hjgfaggayu gfduyaaw hwgfag gwfg gwfauguwqtuwqvuqfw</p>
            <img src="~/Images/bangcuonyte.png" alt="" class="user">
            <h3>join deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>*@

<!--<section class="contact" id="contact">
    <h1 class="heading"> <span>contact</span> us </h1>
    <div class="row">-->
        @*<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.0233061635536!2d105.64381770000003!3d10.419723500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a64d83b2792df%3A0x17bca5e601420f5a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyDEkOG7k25nIFRow6Fw!5e0!3m2!1svi!2s!4v1721894650781!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@

        <!--<form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input type="text" name="" id="" placeholder="name">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" name="" id="" placeholder="email">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" name="" id="" placeholder="number">
            </div>
            <input type="submit" value="contact now" class="btn">
        </form>
    </div>
</section>-->

<!-- Blogs -->
@*<section class="blogs" id="blogs">
    <h1 class="heading"> our <span>blogs</span> </h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="~/Images/bangcuonyte.png" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 25th may, 2024</span>
                <p>asdhas hjDHGGA HGFAYGFHE hh hbdh igaif ehfiuhaiwu hwiuf. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/Images/ketoconazole.png" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 25th may, 2024</span>
                <p>asdhas hjDHGGA HGFAYGFHE hh hbdh igaif ehfiuhaiwu hwiuf. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/Images/bongyte.png" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 25th may, 2024</span>
                <p>asdhas hjDHGGA HGFAYGFHE hh hbdh igaif ehfiuhaiwu hwiuf. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </div>
</section>*@