<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/UserLayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <a href="#" class="logo">
            <img src="~/Images/logoytemt.png" alt="logoMT">
        </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">products</a>
            @*<a href="#review">review</a>
            <a href="#contact">contact</a>
            <a href="#blogs">blogs</a>*@
        </nav>

        <div class="icons">
            <div class="fas fa-search" id="search-btn" title="Tìm kiếm"></div>
            <div class="fas fa-shopping-cart" id="cart-btn" title="Giỏ hàng"></div>
            <div class="fas fa-user" id="user-btn" title="Tài khoản"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" name="" id="search-box" placeholder="Search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>

        <div class="user-menu">
            @Html.Action("Logged", "Login")
        </div>

        <div class="cart-items-container">
            @Html.Action("DisplayCart", "User")
        </div>
    </header>

    <div class="wrapper">
        @Html.Action("Login", "Login")
    </div>
    <div class="wrapper1">
        @Html.Action("Register", "Login")
    </div>

    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <section class="footer">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="links">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">products</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
            <a href="#blogs">blogs</a>
        </div>

        <div class="credit">coppyright &copy; 2024 <span>MT-Media</span>. Phát triển bởi <span>nguyen van qui mui</span>.</div>
    </section>
    @*@RenderSection("Scripts", false)*@
    <script defer src="~/JavaScripts/UserLayout.js"></script>
</body>
</html>
