@using CuaHangDungCuYTe.Models;
@model List<CuaHangDungCuYTe.Areas.Admin.AdminViewModels.HoaDonDisplayVM>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="order">
    <div class="order-box">
        <div class="order-content-box">
            <p>Orders</p>
            <br>
            <table>
                <thead>
                    <tr class="head-tb">
                        <th class="stt">OrderId</th>
                        <th class="gm">Customer Name</th>
                        <th>Order Date</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="manage" data-id="@item.OrderId">
                            <td class="stt">@item.OrderId</td>
                            <td class="gm">@item.Fullname</td>
                            <td>@item.OrderDate</td>
                            <td>@item.TotalPrice</td>
                            <td>@item.status</td>
                            <td class="edit">
                                <button class="ed" onclick="updateOrderStatus('@item.OrderId', 'Approved')">Approve</button>
                                <button class="de" onclick="updateOrderStatus('@item.OrderId', 'Reject')">Reject</button>
                                <a href="@Url.Action("OrderDetailPage", "Admin", new { id = item.OrderId })">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Div để chứa chi tiết đơn hàng -->
<div id="order-detail-container" style="display:none;"></div>

<script>
function updateOrderStatus(orderId, status) {
    $.ajax({
        url: '@Url.Action("EditOrders", "Admin")',
        type: 'POST',
        data: { id: orderId, status: status },
        success: function(result) {
            if (result.success) {
                /*alert('Order status updated');*/
                window.location.href = '@Url.Action("OrdersPage", "Admin")';
            } else {
                alert(result.message);
            }
        },
        error: function() {
            alert('Error updating order status');
        }
    });
}
</script>
